<h1>Users#edit</h1>


<div class="outer_container">
  <div class="user_container">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="userp">
      <%= render 'layouts/user_icon', user: @user %>
    </div>
    <button type="button" class="btn btn-outline-secondary rounded-pill">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </button>

    <div class="user_prof">
      <div class="user_name">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form_style' %>
      </div>
      <div class="user_url">
        <%= f.label :url, 'Url' %>
        <%= f.text_field :url, class: 'form_style' %>
      </div>
      <div class="user_profile">
        <%= f.label :profile, 'profile' %>
        <%= f.text_area :profile, class: 'form_style' %>
      </div>
      <%= f.submit 'submit', class: 'btn_style' %>
    <% end %>
    </div>
    <div class="edit_area">
    </div>
    <div class="button_space">
      <p>ファボとか</p>
    </div>

  </div>
</div>