<%= render 'layouts/header', users: @users %>

<div id="container">
  <div id="infomation_area" class="area  rowspan2">
    <h2>information</h2>
  </div><!-- end of infomation_area-->

  <div id="center_area" class="area rowspan5">
    <h2>User</h2>
    <div class="outer_container">
        <!-- ここから中のコンテナ-->



<div class="outer_container">
  <div class="user_container">
    <div class="userp">
      <%= render 'layouts/user_icon', user: @user %>
    </div>
    <div class="user_prof">
      <div class="user_name">
        <p><%= @user.name %></p>
      </div>
      <div class="user_url">
        <p>
          <% if @user.url.present? %>
          <%= link_to @user.url, @user.url, class:"no-underline"%>
          <% end %>
        </p>
      </div>      
      <div class="user_profile">
        <p><%= @user.profile %></p>
      </div>
    </div>
    <div class="edit_area">
      <%= link_to(edit_user_path)  do %>
      <div class="edit_button">
        編集
      </div>
      <% end %>
    </div>
    <div class="button_areea">
      
    </div>
  </div>
</div>



<h2>Guitars</h2>
<%= render 'guitars/guitars', guitars: @guitars %>


        <!-- ここまで中のコンテナ-->
    </div>
  </div><!-- end of center_area-->


  <%= render 'layouts/login' %>

  <div id="update_area" class="area">
    <h2>Update</h2>
  </div>
  <div id="upper_right_area" class="area">
    <h2>Favo Ranking</h2>
  </div>
  <div id="lower_left_area" class="area rowspan2">
    <p>free space</p>
  </div>
  <div id="lower_right_area" class="area">
    <h2>Model Ranking</h2>
  </div>
  <%= link_to(logout_path, class:"no-underline")  do %>
  <div id="logout" class="area">
    <p>LOG OUT</p>
  </div>
  <% end %>
</div><!-- end of center-->

<%= render 'layouts/footer' %>